.app_wrap {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 68px;
    background: #585858;

    .inner_title {
        text-align: center;
        color: white;
    }

    .app {
        width: 100%;
        height: auto;
        margin-top: 48px;
    }
}

.app_box {
    border: 1px solid #e7e7e7 !important;
    max-width: 681px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 60px 50px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 720px) {
        width: 90%;
        padding: 25px;
    }

    .center_div {
        text-align: center;
    }
}

.white_btn {
    display: inline-block;
    width: 80px;
    height: 36px;
    background-color: white;
    color: rgba(0, 129, 255, 1);
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    border: none;
    border: 1px solid rgba(0, 129, 255, 1);
    line-height: 36px;
  
    &:hover {
      cursor: pointer;
    }
}
  
.blue_btn {
    display: inline-block;
    width: 80px;
    height: 36px;
    background-color: rgba(0, 129, 255, 1);
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    border: none;
    line-height: 36px;
    margin-right: 5px;

    &:hover {
        cursor: pointer;
    }
}

